<div class="container">
  <div class="block">
    <% if @blog.errors.any?%>
      <div class="block notification">
        <% @blog.errors.full_messages.each do |messages|%>
          <p><%= messages %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form_with(model: @blog, local: true, url: new_or_edit) do |form| %>
      <div class="block">
        <label class="label"><%= form.label :content, "Messages" %></label>
        <p><%= form.text_field :content, class: "textarea"%></p>
      </div>
      <div class="level">
        <div class="level-left">
          <p><%= form.submit "Quack!", class: "level-item button is-warning is-rounded" %></p>
          <p class="level-item button is-text is-rounded"><%= link_to 'Back', blogs_path %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>