<h2>Preview</h2>

<%= form_with(model:@blog, url:blogs_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p><%= @blog.content %></p>

  <%= form.submit "Quack!" %>
  <%= form.submit "Back", name: 'back' %>
<% end %>

