<div class="container">
  <div class="block">

  </div> 

  <div class="block">
    <p class="subtitle is-4">Massage Preview</p>
  </div> 

  <div class="field block">
    <%= form_with(model:@blog, url:blogs_path, local: true) do |form| %>
      <div class="block">
        <p><%= form.hidden_field :content%></p>
        <p class="notification"><%= @blog.content%></p>
      </div>
      <div class="level">
        <div class="level-left">
          <p><%= form.submit "Quack!", class: "level-item button is-warning is-rounded" %></p>
          <p><%= form.submit "Back", name: 'back', class: "level-item button is-text is-rounded" %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="block">

  </div>
</div>
